---
const {class:className , id} = Astro.props
---
<section id = {id } class={`${className} w-full mx-auto pb-16 md:pb-20 lg:pb-24 px-8 md:px-12 lg:px-0 lg:max-w-[740px] flex flex-col items-center lg:items-start`}>   
     <slot />
</section>